<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Scouts Online | <%= content_for?(:title) ? yield(:title) : "Scouts Managment System" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	<%= render 'layouts/navbar' %>

	<% if notice %>
		<div class='row'>
			<div class="notice columns medium-4 medium-offset-4 alert-box" data-alert>
				<a href="#" class="close">&times;</a>
				<%= notice %>
			</div>
		</div>
	<% end %>
	<% if alert %>
		<div class='row'>
			<div class="alert columns medium-4 medium-offset-4 alert-box" data-alert>
				<a href="#" class="close">&times;</a>
				<%= alert %>
			</div>
		</div>
	<% end %>

	<div class='row collapse'>
		<%= yield %>
	</div>

  </body>
</html>
